<div class="home-container">
    <p *ngIf="currentUser">Hello, {{currentUser.fname}} !</p>

    <p>LOGO</p>

    <button (click)="logout()">Logout</button>
</div>

<div class="menu">
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="toggleAllShift()">All Shifts</button>
        <button mat-menu-item (click)="toggleAllWorkers()">All workers</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menu">Open Menu</button>
</div>
<ng-container *ngIf="showAllshifts">
    <app-all-shifts></app-all-shifts>
</ng-container>
<ng-container *ngIf="showAllWorkers">
    <app-all-workers></app-all-workers>
</ng-container>


<div *ngFor="let el of personWithMostShifts">
    <p>
        {{el.fname}}
    </p>
</div>

<body>

</body>