<div>
  <table>
    <th>Shift Name:</th>
    <th>Start Shift:</th>
    <th>End Shift:</th>
    <th>Wage:</th>
    <th>Place Shifts:</th>
    <th>Date Shift:</th>
    <th>Edit Shift</th>
    <th>Delete Shift</th>

    <tr *ngFor="let shift of shifts">
      <td>{{ shift.shiftName }}</td>
      <td>{{ shift.startTime }}</td>
      <td>{{ shift.endTime }}</td>
      <td>{{ shift.wage }}</td>
      <td>{{ shift.place }}</td>
      <td>{{ shift.date }}</td>
      <td><button>Edit Shift</button></td>
      <td>
        <button (click)="deleteShifts(shift.shiftName)">Delete Shift</button>
      </td>
    </tr>
  </table>
</div>
