<div>

    <input [(ngModel)]="searchName" placeholder="Shift Name">
    <input [(ngModel)]="searchStartDate" type="date" placeholder="Start Date">
    <input [(ngModel)]="searchEndDate" type="date" placeholder="End Date">
    <input [(ngModel)]="searchPlace" placeholder="Place">
    <button (click)="performSearch()">Search</button>

    <table>
        <thead>
            <tr>
                <th>User:</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let shift of shifts">
                <td>{{ shift.fname }}</td>
                <td>
                    <table>
                        <thead>
                            <tr>
                                <th>Shift Name</th>
                                <th>Start Shift</th>
                                <th>End Shift</th>
                                <th>Wage</th>
                                <th>Place Shifts</th>
                                <th>Date Shift</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let el of shift.shifts">
                                <tr *ngIf="isShiftVisible(el)">
                                    <td>{{ el.shiftName }}</td>
                                    <td>{{ el.startTime }}</td>
                                    <td>{{ el.endTime }}</td>
                                    <td>{{ el.wage }}</td>
                                    <td>{{ el.place }}</td>
                                    <td>{{ el.date }}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>


