<div class="home-container">
  <p *ngIf="currentUser">Hello, {{ currentUser.fname }} !</p>
  <p>LOGO</p>
  <button (click)="logout()">Logout</button>
</div>

<div class="menu">
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="toggleAddShift()">Add Shift</button>
    <br />
    <button mat-menu-item (click)="toggleMyshifts()">My Shifts</button>
    <br />
    <button mat-menu-item (click)="toggleEditProfile()">Edit Profile</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu">Open Menu</button>
</div>

<ng-container *ngIf="showAddShift">
  <app-addshift></app-addshift>
</ng-container>
<ng-container *ngIf="showMyshifts">
  <app-edit-shifts></app-edit-shifts>
</ng-container>
<ng-container *ngIf="showEditProfile">
  <app-editprofile></app-editprofile>
</ng-container>
