<div class="home-container">
  <h1 *ngIf="currentUser">Hello, {{ currentUser.fname }} !</h1>
  <h1>Home Page</h1>
  <br />
  <!-- <button (click)="logout()">Logout</button> -->
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit" (click)="logout()">
      Logout
    </button>
  </mat-card-actions>
</div>

<div class="menu">
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="toggleAddShift()">Add Shift</button>
    <br />
    <button mat-menu-item (click)="toggleMyshifts()">My Shifts</button>
    <br />
    <button mat-menu-item (click)="toggleEditProfile()">Edit Profile</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menu" class="OpenMenuButton">
    Open Menu
  </button>
</div>

<ng-container *ngIf="showAddShift">
  <app-addshift></app-addshift>
</ng-container>
<ng-container *ngIf="showMyshifts">
  <app-myshifts></app-myshifts>
</ng-container>
<ng-container *ngIf="showEditProfile">
  <app-editprofile></app-editprofile>
</ng-container>
<img src="../../assets/pngwing.com.png" />
